{% load staticfiles %}
{% load widget_tweaks %}


 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title></title>

    <!-- Bootstrap -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
  <link href="{% static 'css/tab.css' %}" rel="stylesheet">



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body style ="background-image: url('{% static "image/image.jpg" %}');"
  <div id="throbber" style="display:none; min-height:120px;"></div>
<div id="noty-holder"></div>

<div id="wrapper">

    <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars" aria-hidden="true" style="color: white;"></i>
            </button>
            <div class="navbar-brand">

            </div>
        </div>

        <form action="" class="navbar-form navbar-left">

            <div class="input-group">
              <div class="input-group-btn">
                  <button class="btn  search-btn-icon">
                   <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
               </div>
              <input type="Search" placeholder="Search..." class="form-control-serch search-box" />

            </div>

        </form>


        <!-- Top Menu Items -->



        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" style="background-color: #616060; border:1px solid #616060;">

            <ul class="nav navbar-nav side-nav">
              <a href="#"><img class="logostyle" src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620" alt="LOGO""></a>
              <li>
                   <a class="active" href="#" data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-home" aria-hidden="true"></i>   <span style="color:white;">  Well-Come </span></a>
                </li>
                <li>
                   <a class="active" href="#" data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-home" aria-hidden="true"></i>   <span style="color:white;" >  To </span></a>
                </li>
                <li>
                   <a class="active" href="#" data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-home" aria-hidden="true"></i>   <span style="color:white;">  Admin Panel </span></a>
                </li>

            </ul>
                        <button class="btn logo pull-right" type="submit" name="submit">Logout</button>
        </div>
        <!-- /.navbar-collapse -->
  </nav>
  <div class="tabContainer">
      <div class="buttonContainer">
          <button onclick="showPanel(0,'none')">Doctor</button>
          <button onclick="showPanel(1,'none')">Staffs</button>
          <button onclick="showPanel(2,'none')">Lab</button>
          <button onclick="showPanel(3,'none')">Medical</button>
      </div>
      <div class="tabPanel doctor">
        <div class="col-sm-8 pull-right">
            <div class="row">
          <div class="col-xs-2">
                    <label class="firstname">Name:</label> </div>
            <div class="col-xs-3">
                <input type="text" name="fname" id="fname" placeholder="Enter your First Name" class="form-control ">
            </div>
         </div>
    </div><br></br><br></br>
    <div class="col-sm-8 pull-right">
        <div class="row">
      <div class="col-xs-2">
                <label class="firstname">Date:</label> </div>
        <div class="col-xs-3">
            <input type="date" name="fname" id="fname" placeholder="" class="form-control ">
        </div>
     </div>
</div><br></br><br></br>
<div class="col-sm-8 pull-right">
    <div class="row">
  <div class="col-xs-2">
            <label class="firstname">Age:</label> </div>
    <div class="col-xs-3">
        <input type="text" name="fname" id="fname" placeholder="" class="form-control ">
    </div>
 </div>
</div><br></br><br></br>
<div class="col-sm-8 pull-right">
    <div class="row">
  <div class="col-xs-2">
            <label class="firstname">Department:</label> </div>
    <div class="col-xs-3">
        <input type="text" name="fname" id="fname" placeholder="" class="form-control ">
    </div>
 </div>
</div><br></br><br></br>
<div class="col-sm-8 pull-right">
    <div class="row">
  <div class="col-xs-2">
            <label class="firstname">User:</label> </div>
    <div class="col-xs-3">
        <input type="text" name="fname" id="fname" placeholder="" class="form-control ">
    </div>
 </div>
</div><br></br>
<div class="col-sm-6 pull-right">
            <div class="btn btn-warning">Submit</div>
      </div><br><br>
      </div>
      <div class="tabPanel doctor">

      </div>
      <div class="tabPanel doctor">
        <div class="col-sm-8 pull-right">
            <div class="row">
          <div class="col-xs-2">
                    <label class="firstname">Name:</label> </div>
            <div class="col-xs-3">
                <input type="text" name="fname" id="fname" placeholder="" class="form-control ">
            </div>
         </div>
        </div><br></br><br><br>
        <div class="col-sm-8 pull-right">
            <div class="row">
          <div class="col-xs-2">
                    <label class="firstname">User:</label> </div>
            <div class="col-xs-3">
                <input type="text" name="fname" id="fname" placeholder="" class="form-control ">
            </div>
         </div>
        </div><br></br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="col-sm-6 pull-right">
                    <div class="btn btn-warning">Submit</div>
              </div><br><br>
      </div>
      <div class="tabPanel doctor">
        <div class="col-sm-8 pull-right">
            <div class="row">
          <div class="col-xs-2">
                    <label class="firstname">Name:</label> </div>
            <div class="col-xs-3">
                <input type="text" name="fname" id="fname" placeholder="" class="form-control ">
            </div>
         </div>
        </div><br></br><br><br>
        <div class="col-sm-8 pull-right">
            <div class="row">
          <div class="col-xs-2">
                    <label class="firstname">User:</label> </div>
            <div class="col-xs-3">
                <input type="text" name="fname" id="fname" placeholder="" class="form-control ">
            </div>
         </div>
        </div><br></br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="col-sm-6 pull-right">
                    <div class="btn btn-warning">Submit</div>
              </div><br><br>
      </div>
  </div>


<div class="container-fluid">
<div class="row text-center">
<div class="col-md-12 dashhead">
<h1></h1>
</div>
</div>
</div>

  </div><!-- /#wrapper -->



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/myScript.js' %}"></script>
  </body>
</html>
