
}
.tabContainer{
    width: 100%;
    height: 350px;
}
.tabContainer .buttonContainer{
    height: 15%;
}
.tabContainer .buttonContainer button{
    width: 25%;
    height: 100%;
    float: left;
    border: none;
    outline:none;
    cursor: pointer;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    background-color:lightblue;
}
.tabContainer .buttonContainer button:hover{
    background-color: lightgreen;
}
.tabContainer .doctor{
    height: 85%;
    background-color:none ;
    color: black;

    padding-top: 105px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 15px;
    display: none;
